html,
body,
#root,
#app {
  height: 100%;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 5px;
  background-color: #0062d1;
  color: white;
  font-weight: 200;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #1976d2;
}

.btn:active {
  background-color: #0062d1;
}

.footer {
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
